<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum molestiae corrupti quos omnis obcaecati in neque! Sed libero nihil sit cum necessitatibus harum, vel, explicabo saepe perferendis, vitae cupiditate blanditiis!</p>
    </div>
</div>