<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Agradecemos tu ayuda con el etiquetado, si tienes dudas o comentarios porfavor llena el formato.</p>
        <a href="https://forms.gle/iaWhawuRfJsQvFjH6">Aquí</a>
    </div>
</div>