<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4">Labeling violent incidents</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto in ducimus itaque ipsam inventore hic aspernatur amet quod magni aliquid neque omnis accusantium, quidem temporibus doloremque iure minima. Qui, quisquam!</p>
    {{!-- <a href="https://www.youtube.com/watch?v=-bI0diefasA&list=PLL0TiOXBeDaiu1zLjVOY9f-47ighUymqf" class="btn btn-primary btn-lg">Fazt tutorial</a> --}}
</div>