<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4">Labeling violent incidents</h1>
    <p class="lead">Los incidentes violentos ocurren todo el tiempo, ayudanos a identificarlos a tiempo.</p>
    <hr class="my-4">
    {{!-- <a href="https://www.youtube.com/watch?v=-bI0diefasA&list=PLL0TiOXBeDaiu1zLjVOY9f-47ighUymqf" class="btn btn-primary btn-lg">Fazt tutorial</a> --}}
    <div class="card w-75 ms-auto">
        <img src="../img/robo.png" alt="Description" >
        <div class="container p-3">
            <h4><b>Robo</b></h4>
            <p>Apoderamiento o destrucción dolosa de una cosa ajena sin derecho y sin consentimiento de la persona que legalmente pueda disponer de los mismos.</p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <img src="../img/homicidio.jpg" alt="Description" >
        <div class="container p-3">
            <h4><b>Homicidio</b></h4>
            <p>Privación de la vida.</p>
        </div>
    </div>
    <br>
    <div class="card w-75 ms-auto">
        <img src="../img/secuestro.jpg" alt="Description" >
        <div class="container p-3">
            <h4><b>Secuestro</b></h4>
            <p>Privación de la libertad.</p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <img src="../img/violencia.jpg" alt="Description" >
        <div class="container p-3">
            <h4><b>Violencia</b></h4>
            <p>Actos o presión psicológica que hacen desaparecer la voluntad de la víctima.</p>
        </div>
    </div>
    <br>
    <div class="card w-75 ms-auto">
        <img src="../img/d-sexual.jpg" alt="Description" >
        <div class="container p-3">
            <h4><b>Delito sexual</b></h4>
            <p>Perjuicio de la libertad sexual, la indemnidad sexual, la dignidad y/o el desarrollo de la sexualidad (ej. violación).</p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <img src="../img/d-organizada.jpg" alt="Description" >
        <div class="container p-3">
            <h4><b>Delincuencia organizada</b></h4>
            <p>Delitos ocasionados por asociación o banda de tres o más personas con el propósito de delinquir (ej. balacera).</p>
        </div>
    </div>
    <br>
    <div class="card w-75 ms-auto">
        <img src="../img/narco.jpg" alt="Description" >
        <div class="container p-3">
            <h4><b>Narcotráfico</b></h4>
            <p>producción y comercio de narcóticos señalados por el a. 193 del código penal federal, sin la autorización correspondiente.</p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <img src="../img/suicidio.png" alt="Description" >
        <div class="container p-3">
            <h4><b>Suicidio</b></h4>
            <p>Acto por el que una persona se provoca la muerte de forma intencionada.</p>
        </div>
    </div>
    <br>
    <div class="card w-75 ms-auto">
        <img src="../img/accidente.jpg" alt="Description" >
        <div class="container p-3">
            <h4><b>Accidentes</b></h4>
            <p>Suceso eventual o acción de que resulta daño involuntario para las personas o las cosas.</p>
        </div>
    </div>
</div>