body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.logo {
    width: 40%;
}

#faicon{
    color: #7FFF00;
}

#faicon_pencil{
    color: red;
}

#actual_page{
    color: darkgoldenrod;
}